[submodule "surrogates_2D"] 
.gitpath = surrogates_2D 
.giturl = https://github.com/Jkovv/surrogates_2D.git 
[submodule "surrogates_3D"] 
.gitpath = surrogates_3D 
.giturl = https://github.com/Jkovv/surrogates_3D.git 
